<div id="playing">
    What's Dev Playing
    <div class="my-slider">
        <div><a href="https://amzn.to/3vGvYrL" target="_blank"><img src="/assets/images/playing/trianglestrategy.jpg" width="100" alt="Triangle Strategy"/></a></div>
        <div><a href="https://fortnite.com" target="_blank"><img src="/assets/images/playing/fortnite.jpg" width="100" alt="Fortnite"/></a></div>
        <div><a href="https://amzn.to/3LEOeXP" target="_blank"><img src="/assets/images/playing/pokemonsnap.jpg" width="100" alt="Pokemon Snap"/></a></div>
        <div><a href="https://store.steampowered.com/app/1806030/Minimal_Dungeon_RPG/" target="_blank"><img src="/assets/images/playing/minimaldungeonrpg.jpg" width="100" alt="Minimal Dungeon RPG"/></a></div>
        <div><a href="https://fantasylife.boltrend.com/en/home" target="_blank"><img src="/assets/images/playing/fantasylifeonline.jpg" width="100" alt="Fantasy Life Online"/></a></div>

    </div>
</div>
<script>
  var slider = tns({
    container: '.my-slider',
    items: 1,
    autoplay: true,
    speed: 100,
    controls: false,
    autoplayButtonOutput: false
  });
</script>