<ul id="posts">
    {% for post in postslist %}
        <li>
            <span class="post-title">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </span>
            <span class="post-category">
                {{ post.data.category }}
            </span>
            <br/>
            <span class="post-description">
                {{ post.data.description }}
            </span>
        </li>
    {% endfor %}
</ul>