--- 
title: Fortnite Daily Shop | Devar-TTY
permalink: /fortnite-shop/ 
---

<div id="postwrapper">
<h1>Current Fortnite Item Shop</h1>
<strong><em>Updated: {{ fortnite.date | dateReadable}}</em></strong> at 7 p.m. EST.
<h2>Featured</h2>
{% for entry in fortnite.featuredData %} 
    {% if entry.bundle %}
        <img 
            {% if item.series.image %}
                style="background-image: url({{item.series.image}})"
            {% else %}
                style = "background-color: #bababa;"
            {% endif %}
        src='{{entry.bundle.image}}' width="150" alt="{{entry.bundle.name}}"/>
    {% else %}
        {% for item in entry.items %}
            <img         
                {% if item.series.image %}
                    style="background-image: url({{item.series.image}})"
                {% else %}
                    class="{{item.rarity.value}}"
                {% endif %} 
                src="{{ item.images.smallIcon }}" width="150" alt="{{ item.name }}" />
        {% endfor %}
    {% endif %}
{% endfor %}
<h2>Daily</h2>
{% for entry in fortnite.dailyData %} 
    {% if entry.bundle %}
        <img 
            {% if item.series.image %}
                style="background-image: url({{item.series.image}})"
            {% else %}
                style = "background-color: #bababa;"
            {% endif %}
        src='{{entry.bundle.image}}' width="150" alt="{{entry.bundle.name}}"/>
    {% else %}
        {% for item in entry.items %}
            <img         
                {% if item.series.image %}
                    style="background-image: url({{item.series.image}})"
                {% else %}
                    class="{{item.rarity.value}}"
                {% endif %} 
                src="{{ item.images.smallIcon }}" width="150" alt="{{ item.name }}" />
        {% endfor %}
    {% endif %}
{% endfor %}



</div>