---
permalink: /
title: Rob Kalajian
---
<div id="home">

<h1>Rob Kalajian</h1>

<p>Welcome. This site is a testing ground for my work with <a href="https://github.com/MWDelaney/ZeroPoint" target="_blank">ZeroPoint</a>, a development framework built around <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.</p>
<p>It is also the home of the otHELLo: EXAULT/SIN tabletop RPG.</p>

<h2>You Are Welcome At My Table</h2>
<p><em>Supporting inclusivity in gaming</em></p>

<a href="https://yamamt.threadless.com" target="_blank">You Are Welcome At My Table</a>, or #youarewelcomeatmytable, is a brand focused on inclusivity in gaming, both tabletop and digital. Distributed print-on-demand by Threadless, all profits currently go directly to either Black Lives Matter, The Trevor Project, or the ACLU (depending on design purchased.)</p>

<div class="yawamt-wrapper">
    {% for item in yawamt.items %}
        <div class="yawamt">
            <a href="{{item.urlLight}}" target="_blank"><img src="/assets/images/yawamt/{{item.image}}" width="150" alt="{{item.title}}" /></a>
         <a href="{{item.urlLight}}" target="_blank">Light</a> | <a href="{{item.urlDark}}" target="_blank">Dark</a>
        </div>
    {% endfor %}
</div>
</div>