---
permalink: /
title: Devar-TTY
---
<div id="home">

<h1>Devar-TTY</h1>

<p><em>Supporting inclusivity in gaming</em></p>

<a href="https://yamamt.threadless.com" target="_blank">You Are Welcome At My Table</a>, or #youarewelcomeatmytable, is a brand focused on inclusivity in gaming, both tabletop and digital. Distributed print-on-demand by Threadless, all profits currently go directly to either Black Lives Matter, The Trevor Project, or the ACLU (depending on design purchased.)</p>

<div class="yawamt-wrapper">
    {% for item in yawamt.items %}
        <div class="yawamt">
            <a href="{{item.urlLight}}" target="_blank"><img src="/assets/images/yawamt/{{item.image}}" width="150" alt="{{item.title}}" /></a>
         <a href="{{item.urlLight}}" target="_blank">Light</a> | <a href="{{item.urlDark}}" target="_blank">Dark</a>
        </div>
    {% endfor %}
</div>
</div>