--- 
title: Insights | Devar-TTY
pagination:
  data: mastodon.items
  size: 10
  alias: insights
permalink: /insights/page-{{ pagination.pageNumber }}/index.html
---
{% set postslist = insights %}
{% include "insightlist.njk" %}