--- 
title: Posts | Devar-TTY
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
permalink: /posts/page-{{ pagination.pageNumber }}/index.html
---
{% set postslist = posts %}
{% include "postlist.njk" %}