---
pagination:
  data: collections
  size: 5
  alias: tag
  reverse: true
permalink: /tags/{{ tag }}/
---


{% set taglist = collections[ tag ] %}


<div id="postwrapper">
    <h1>Tagged “{{ tag }}”</h1>
    <ul id="posts">
        {% for post in taglist  | reverse %}
            <li>
                <span class="post-title">
                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                </span>
                in 
                <span class="post-category">
                    {% for tag in post.data.tags %}
                        {% if tag != "posts"%}
                            <a class="tag" href="/tags/{{ tag }}">{{tag}}</a>
                        {% endif %}
                    {% endfor %}
                </span>
                on {{ post.data.date | dateReadable}}
                <br/>
                <span class="post-description">
                    {{ post.data.description }}
                </span>
            </li>
        {% endfor %}
    </ul>
    {% if pagination.href.previous %}
        <a href="{{pagination.href.previous}}"><< Previous Page</a>
    {% endif %}
    {% if pagination.href.previous and pagination.href.next %}
    &nbsp;&mdash;&nbsp;
    {% endif %}
    {% if pagination.href.next %}
        <a href="{{pagination.href.next}}">Next Page >></a>
    {% endif %}
</div>