--- 
layout: base.njk 
---
<div id="post">
    <h2>{{ title }}</h2>
    Posted in <strong> {% for tag in tags %}
                        {% if tag != "posts"%}
                            <a class="tag" href="/tags/{{ tag }}">{{tag}}</a>
                        {% endif %}
                    {% endfor %}</strong> on <em>{{ date | dateReadable }}</em>
    {% if featuredImage %}
        <img src="/{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
    {% endif %}
    {% if rating %}
        <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "{{ itemName }}",
            "image": "https://devar-tty.com/{{ featuredImage | url }}",
            "description": "{{ description }}",
            "review": {
                "@type": "Review",
                "reviewRating": {
                    "@type": "Rating",
                    "ratingValue": "{{ rating }}",
                    "bestRating": "5"
                },
                "author": {
                    "@type": "Person",
                    "name": "Rob Kalajian"
                }
            }
        }
        </script>
        <strong>Rating:</strong>
        {% for i in range(0, rating) %}
            <i class="fa-solid fa-star"></i>
        {% endfor %}
        {% for i in range(rating, 5) %}
            <i class="fa-regular fa-star"></i>
        {% endfor %}
    {% endif %}
    <p>{{ content | safe }}</p>

</div>