/**
 * Import stylesheet partials
*/
@import "reset.scss";
@import "branding";

/**
 * devar_tty.com starter styling
*/
body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: var(--font-family-sans-serif);
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

a {
  color: var(--color-primary);
}

p {
  margin-bottom: 1rem;
}

#main {
  max-width: var(--container-width);
  margin: calc(var(--unit) * 5) auto;
}

#navigation {
  display: flex;
  border-bottom: 1px solid var(--color-light);
  margin: var(--unit);
}

hr {
  border-width: 1px 0 0;
  border-color: var(--color-light);
}

.navigation-item,
.navigation-label {
  padding: calc(var(--unit) / 2);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Tables */

table {
  width:100%;
}

table {
  border: 1px solid #ccc;
  margin-bottom: 32px;
  text-align: left;
 }

th {
  font-family: 'Arvo', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
  padding: 10px;
  background: #232323;
  color: #FDFEFB;
 }

td {
  padding: 10px;
	background: #ccc;
 }

 /* Posts */

 #posts {
   list-style: none;

   li {
     margin-bottom: 1rem;
   }
 
  .post-title {
    font-weight: 600;
  }

  .post-category {
      border: 1px dotted grey;
      padding: 0.2rem;
  }
}